<div class="main container mt-4">
  <div id="heading" class="m-4"><h1>THE RIDDLE <em>OF </em> WISDOM</h1></div>
  <div id="word"></div>
    <div id="card-content" class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card menu-card">
                    <div class="card-body">
                        <h5 class="card-title">Menu</h5>
                        <ul class="list-group">
                          <li *ngFor="let category of categories; let i=index" 
                          class="list-group-item" 
                          [ngClass]="{'selected': indexSelected === i}"  
                          (click)="selectedCategory(i)">{{ category | translate}}</li>
                        </ul>                     
                    </div>
                    <div class="dropdown">
                        <form  [formGroup]="form">
                            <select class="states" formControlName="state">
                                <option *ngFor="let state of states" [ngValue]="state" (click)="switchLanguage(state.abbrev)">
                                    {{ state.name }}
                                  </option>
                            </select>                            
                        </form>
                      </div>    
                </div>
            </div>
            <div class="col-md-9">
                <div class="card game-card">
                    <div class="card-body">
                        <h5 class="card-title"><span>{{'game' | translate}}</span><span> {{'of' | translate}}</span><span> <b> {{selectCategory | translate}}</b></span></h5>
                        <span id="message" *ngIf="!isWin && !isLose">{{'message' | translate}}</span>
                        <span id="messageWin" *ngIf="isWin && !isLose">{{'messageWin' | translate}}</span>
                        <span  id="messageLose" *ngIf="isLose && !isWin">{{'messageLose' | translate}}</span>
                        <div class="space-word">
                            <span *ngIf="!reloading" id="word" >{{maskedWord | uppercase}}</span>
                            <img *ngIf="reloading" id="reload" src="../assets/reload.gif">
                            <!-- <span id="dotted"[ngClass]="{'dotted':isHuman, 'notdotted':isAi }">■</span> -->
                        </div>
                        <div *ngIf="numberOfTrying>0" class="remainingGuess"><span style="color: brown;">{{totalGuesses-numberOfTrying}} </span><span style="color: brown;">{{'remaining' | translate}}.</span> <span *ngIf="tryExceeded()"> {{'key_word' | translate}} : {{currentWord}}</span></div>
                        <div id="guessedBuilt"> </div>
                        <span id="onx">Type one character, only</span>
                        <form action="guessChar">
                           <div>
                            <input id="input" type="text" minlength="1" maxlength="1" [(ngModel)]="guessChar" required >
                           </div>
                           <div>
                            <input id="guess" type="button" class="btnx bg-lightx" [disabled]="guessChar.length===0 || (isWin || isLose)" [value]="'enter' | translate" (click)="startGame()">
                           </div>
                        </form>         
                    </div>
                </div>      
            <div class="resetCard card p-4 ms-5x me-5x d-flex flex-column justify-content-between" *ngIf="isWin && !isLose">
                <h4 class="m-4 restart-text">{{'restart' | translate}}</h4>
                <input id="restart" type="button" class="btnx bg-lightx" [value]="'re_start' | translate" (click)="restartGame()">
            </div>
            <div class="resetCardLose card p-4 ms-5x me-5x d-flex flex-column justify-content-between" *ngIf="isLose && !isWin">
                <h4 class="m-4 restart-text">{{'restart' | translate}}</h4>
                <input id="restart" type="button" class="btnx bg-lightx" [value]="'re_start' | translate" (click)="restartGame()">
            </div>
            </div>
        </div>
    </div>
</div>