* {
    margin: 0;
    font-weight: 600;
    box-sizing: border-box;
    text-align: center;
    color: darkslategrey;
}
body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, lightblue, goldenrod);
}